.chart {
    margin-bottom: 1rem;
}
.main {
    margin: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.center {
    display: flex;
    justify-content: center;
}
.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-bg {
    background-color: #bce9ff;
    border-radius: 5px;
}
.res-m {
    margin:0;
}

.graph-arr{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center ;
}