.auth {
    display: flex;
    flex-direction: row;
}
.login, .sign-up {
    flex:1;
    border-radius: 0.8rem;
    padding:2rem;
}

.login {
    margin:4rem 4rem 1rem 2rem;
    background-color: rgba(133, 153, 0, 0.1);
    border:2px solid rgb(133, 153, 0);
}

.sign-up {
    margin:4rem 2rem 1rem 4rem;
    background-color: rgba(203, 75, 22, 0.1);
    border:2px solid rgb(203, 75, 22)
}