.maxmarks-input{
    width: 20px;
    overflow-y: hidden;
    outline: none;
    border: none;
    background-color: #212529;
    color:white;
    height: 20px;
}
.maxmarks-label{
    display: inline;
}
.question-input{
    width: 100%;
    outline: none;
    border: none;
    background-color: #212529;
    color:white;
}
.create-test{
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 10fr 2fr;
}
.question-container{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.question-number, .question-maxmarks{
    text-align:center;
    background:#212529;
    width:150px;
    color:white;
    padding:5px;
    border-radius:16px;
    margin: 0 10px
}
.save{
    justify-self: center;
    margin: 10px;
}
.save-prev{
    justify-self: start;
    margin: 10px;
}
.save-next{
    justify-self: end;
    margin: 10px;
}
.save-prev, .save-next,.save{
    text-align:center;
    background:#212529;
    width:150px;
    color:white;
    padding:5px;
    border-radius:16px;
}
.save-prev:hover, .save-next:hover{
    background-color:white;
    color:#212529;
}
.question-number, .save-prev{
    grid-column: 1/2;
}
.question-maxmarks,.save-next{
    grid-column: 3/4;
}
.question{
    grid-column: 1/4;
    background-color: #212529;
    color:white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.question-option .answer-label, .question-option .answer-input{
    margin: 0 10px;
}
.question-option .radio{
    height:10px;
    width: 10px;
    box-shadow: 0 0 0 5px grey;
    vertical-align: middle;
    display: inline-block;
    border-radius: 100%;
    flex:none;
    background-color: black;
    margin: 0 20px
}
.question-option:hover .radio, .question-option.active .radio{
    background-color: white;
}

.answer-input{
    width: 1100px;
    height: 30px;
    border:none;
    outline: none;
}
.question-option.active .answer-input{
    background-color: #212529;
    color:white;
}
.options{
    grid-column: 1/4;
    margin: 10px;
    border-radius: 10px;
}
.question-option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #212529;
    padding: 10px;
    margin:10px 0;
}
.question-option.active{
    background-color:#212529;
    color:white;
}
.question-option:hover:not(.active){
 background-color: #6c6f71;
 color: white;
}
.question-option:hover:not(.active) .answer-input{
    background-color:#6c6f71;
    color:white;
}
.question-navigator{
    overflow-y: scroll;
    display: flex;
    gap:5px;
    justify-content: flex-start;
    margin: 10px 0;
    flex-wrap: wrap;
    
}
.question-navigator .question-number{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid hsl(210, 11%, 15%);
    color:#212529;
    cursor: pointer;
}
.question-navigator .question-number.active{
    background-color: #212529;
    border: 1px solid hsl(210, 11%, 15%);
    color:white;
}
.question-navigator .question-number:hover:not(.active){
    background-color: #6c6f71;
    border: 1px solid hsl(210, 11%, 15%);
    color:white;
}