#s {
    background-color:rgb(133, 153, 0);
    border:none;
    width:100%;
    margin-top:1rem;
    padding:0.5rem;
}

.link {
    display: flex;
    justify-content: flex-end;
}

.btn-link {
    text-decoration: none;
    color:inherit;
}