.main {
    margin-top: 2rem;
}

.student-nav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display:flex;
    justify-content: center;
}

.upcoming-sec {
    margin-top: 2rem;
}

.previous-sec {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sid, .sname {
    font-weight: bold;

}

.register {
    display: flex;
    justify-content: center;
    margin-top:2rem;
}


.register  button {
    margin-left:1rem;
}